*{
    box-sizing: border-box;
}
body{
    background-color: #111111;
    font-family: 'Poppins', sans-serif;
    color:rgba(255, 255, 255, 0.5);
    font-size: 15px;
}
#container1{
    position: fixed;
    width: 18.5rem;
    height: 46.7rem;
    left: 0.5rems;
    top: 0.4rem;
    background: rgb(38, 38, 38);
    border-radius: 30px;

}
#img1{
  
        margin: 2.5rem 2.5rem;
        width: 12rem;
        height: 12.5rem;
        
       
        border: none;
        border-radius: 1000px;
        }
    
#name{
    color:white;
    margin-top: -2rem;
    margin-left:5rem ;

    font-size:1.5rem ;

}
#bil{
    margin-left: 7rem;
    margin-top:-10px;
    font-size:1rem;

}
.div1
{
 position: fixed;
 top:20rem;
 left: 1rem;
width:20rem;
height: 3rem;


}
button{
    width:17rem;
    height:3rem;
    border-color: #111111;
    background-color: #111111;
    color:rgba(255, 255, 255, 0.5);
    border-radius:30px;
    margin-top: 1rem;
    margin-right:1rem;
}

.h2{

    color:white;
    font-size:1.5rem;
    margin-top:2rem;
    margin-left:2.2rem;
}


#container2{
   

    position: fixed;
    width: 72rem;
    height: 23rem;

    left: 20rem;
    top: 0.5rem;
    background: #262626;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 30px;
}
#para1{
    width:28rem;
    margin-top:2rem;
    margin-left:2rem;

}
#div2{
    
    width: 28rem;
    height: 20rem;
}
a{
    color:rgba(255, 255, 255, 0.5);
}
#div3{
    margin:-18rem 0.5rem 0rem 32rem;
    background-color: aliceblue;
    width: 39rem;
    height: 18rem;
    


border-radius:20px;
}
#img2{

    width: 39rem;
    height: 18rem;
    border-radius: 20px
}



#container3{
    position: fixed;
    width: 72rem;
    height: 22rem;
    left: 20rem;
    top: 25rem;
    background: #262626;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 30px;
}
table{
     width:100%;
      height:100%;
  border-collapse:collapse;
   
}
#tt{
    margin-top: 1rem;
    margin-left: 2rem;
    border: 2px solid grey;
    border-radius: 30px;
    width: 67rem;
    height: 15rem;
}

th{
   
   
    height: 3rem;
    border-bottom:2px solid grey;
    border-right:2px solid grey;

}
td{ 
    
    border-right:2px solid grey;
    
    text-align: center;
    border-collapse: collapse;
    
}
td:last-child,th:last-child{
border-right: none;
}
.td{
    
    text-align: left;
    padding-left: 2rem;

}
